.poi-icon {
  fill: #3B82F6;
}

.poi-icon:hover {
  fill: #60A5FA;
}

.situm-icon {
  max-height: 30px;
  width: auto;
}

.situm-pin {
  transform: scale(1);
}

.situm-pin.is-selected {
  transform: scale(1.2);
}

.maplibregl-marker:hover .situm-pin {
  transform: scale(1.2);
  opacity: 1!important;
}