.maplibregl-marker {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.maplibregl-popup {
  min-width: 30vw!important;
  max-width: 10px!important;
}

.maplibregl-popup-content {
  padding: 1rem;
  box-shadow: var(--drop-shadow-xl);
}

.maplibregl-popup-close-button {
  background-color: var(--color-black);
  border-radius: 100%;
  color: white;
  font-size: var(--text-xl);
  padding: .1rem;
  transform: translate(50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
}

.maplibregl-popup-close-button:hover {
  background-color: var(--color-red-500);
}

.situm-info {
  max-height: 40vh;
  overflow: auto;
  margin-top: 1rem;

  img {
    height: auto;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  p {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);;
    margin-bottom: .25rem;
  }
}