
.poi-list-wrapper {
  box-shadow: var(--drop-shadow-xl);
  left: 1rem;
  position: absolute;
  top: 1rem;
  
  .logo {
    align-items: center;
    border-bottom: 1px solid var(--color-neutral-500);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;    
    
    img {
      max-height: 60px;
      width: auto;
    }
  }

  li.list-row::after {
    border-color: var(--color-neutral-200);
  }
  
  .poi-list {
    max-height: 40vh;
    overflow: auto;
   
    .poi-list-link:not(.active) li:hover {
      background-color: var(--color-sky-100);
    }
    
    .poi-list-link.active {
      background-color: var(--color-sky-200);
    }
    
    .poi-list-icon {
      fill: var(--color-neutral-500);
      max-height: 40px;
      max-width: 40px;
      object-fit: cover;
    }
  }
}
